@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* Body */

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p{
  color: #F4F1F2;
}

/* Links */
.link {
  color: #F4F1F2;
  text-decoration: none;
}

.link:hover {
   color: #F4F1F2;
   text-decoration: none;
}





 /* Containers in home page*/

.homePageContainer{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.HomePageTitleContainer{
  margin-top: 60px;
}

.homePageImageContainer{
  background-color: #C94B4A;
  margin-top: 100px;
  margin-bottom: 100px;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.input_and_login_Container{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.forgotpasswordContainer{
  margin-top: 40px;
  margin-bottom: 30px;
}

.captchaContainer{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  margin-top: 75px;
  margin-bottom: 75px;
}

/* Home Page Title */

.homeTileTimeText{
  font-size: 95px;
}

.homeTileWaiterText{
  font-size: 95px;
  margin-top: -33px;
  margin-bottom: 0;
}

/* Username bar in home page*/

.usernameBar{
  margin: 0 auto;
  width: 300px;
  padding-bottom: 13px;
}

input.usernameBarText.form-control {
  background-color: #8D848D;
  border-color: #707070;
  color: #F4F1F2;
  border-radius: 25px;
}

input.usernameBarText.form-control::placeholder{
  color: #F4F1F2;
}

/* password bar in home page*/

.passwordBar{
  margin: 0 auto;
  width: 300px;
  padding-bottom: 13px;
}

input.passwordBarText.form-control {
  background-color: #8D848D;
  border-color: #707070;
  color: #F4F1F2;
  border-radius: 25px;
}

input.passwordBarText.form-control::placeholder{
  color: #F4F1F2;
}

/* Captcha bar in home page*/

.captchaText{
  color: #F4F1F2;
  font-size: 60px;
  user-select: none;
  font-weight: bold;
}

label.captchaText.form-label{
  margin-bottom: 15px;
}

div.captchaBar.form-group{
  margin-bottom: 13px;
}

input#formPlaintextEmail.captchaBar.form-control{
  margin: 0 auto;
  width: 300px;
  border-radius: 25px;
  background-color: #8D848D;
  border-color: #707070;
  color: #F4F1F2;
}

input#formPlaintextEmail.captchaBar.form-control::placeholder{
  color: #F4F1F2;
}

/* Buttons in Home Page*/

.signUp_button_home{
  background-color: #91A8C0;
  margin-right: .4rem;
  border-radius: 25px;
  border: 0;
  height: calc(1.5em + .75rem + 2px);
  width: 115px;
}

.signUp_button_home:active{
  background-color:#7B8EA1;
}

.login_button_home{
  background-color: #DC967F;
  color: #F4F1F2;
  margin-left: .4rem;
  border-radius: 25px;
  border: 0;
  height: calc(1.5em + .75rem + 2px);
  width: 115px;
}

.login_button_home:active{
  background-color: #BE816D;
}

.Submit_button_Home{
  background-color: #E95554;
  color: #F4F1F2;
  border-radius: 25px;
  border: 0;
  height: calc(1.5em + .75rem + 2px);
  width: 115px;
}

.Submit_button_Home:active{
  background-color: #D24B4A;
}

/* Signup button for signup page*/

.signUp_button_two {
  background-color: #DC967F;
}






/*Forgot Password Container*/

.forgotPasswordTitleContainer{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  margin-top: 150px;
}

.forgotPasswordTextContainer{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Forgot Page Title */

.forgotTitleText{
  text-align: center;
  font-size: 95px;
  margin-bottom: 0;
}

.passwordTitleText{
  text-align: center;
  font-size: 95px;
  margin-top: -33px;
  margin-bottom: 0;
}

/* Forgot Password Text */

.forgotPasswordText{
  width: 470px;
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Button in Forgot Password Page */

.continue_button_forgotPassword{
  background-color: #E95554;
  color: #F4F1F2;
  margin-left: .4rem;
  border-radius: 25px;
  border: 0;
  height: calc(1.5em + .75rem + 2px);
  width: 115px;
}

.continue_button_forgotPassword:active{
  background-color: #C94B4A;
}







.continue_button_forgetPassword, 
.continue_button_EnterCode,
.Submit_button_forgetPassword, 
.Dashboard_button_Settings,
.Dashboard_button_FloorPlan,
.Dashboard_button_EndShift, 
.ResetPassword_button_Back, 
.ResetPassword_button_forgetPassword{
  background-color: #E95554;
}

.Dashboard_button_NewReservation, 
.Dashboard_button_Reseration{
  background-color: #DC967F;
}

.Dashboard_button_ShiftSchedule,
.Dashboard_button_AssignTables,
.Dashboard_button_TimePerCover{
  background-color: #91A8C0;
}

.Account_button_Settings, 
.Analytics_button_Settings, 
.Notifications_button_Settings, 
.Help_button_Settings, 
.About_button_Settings {
  background-color: #2A3C60;
}

.continue_button_ForgotPassword{
  background-color: #E95554;
}
 
/*Back Buttons*/
.Back_button_Settings,
.Back_button_ForgotPassword,
.Back_button_Settings,
.Back_button_Account,
.Back_button_Analytics,
.Back_button_Notifications,
.Back_button_Help,
.Back_button_About,
.Back_button_FloorPlan,
.Back_button_ShiftSchedule,
.Back_button_TimePerCover,
.Back_button_AssignTables,
.Back_button_Reservations,
.Back_button_NewReservation,
.Back_button_EnterCode{
  background-color: #E95554;
  position:   absolute;
  top:        25px;
  left:       25px;
  text-align: left;
} 

 .Plus_button_FloorPlan{
   background-color: #91A8C0;
 }


