@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p{
  color: #F4F1F2;
}


/* Links */
.link {
  color: #F4F1F2;
}

.link:hover {
   color: #F4F1F2
}


/* Buttons */
.signUp_button_home {
  background-color: #91A8C0;
}

.signUp_button_two {
  background-color: #DC967F;
}

.login_button {
  background-color: #DC967F; 
}

.Back_button_EnterCode,
.continue_button_forgetPassword, 
.continue_button_EnterCode,
.Submit_button_forgetPassword, 
.Dashboard_button_Settings,
.Dashboard_button_Floorplan,
.Dashboard_button_EndShift, 
.ResetPassword_button_Back, 
.ResetPassword_button_forgetPassword{
  background-color: #E95554;
}

.Dashboard_button_NewReseration, 
.Dashboard_button_Reseration{
  background-color: #DC967F;
}

.Dashboard_button_ShiftSchedule,
.Dashboard_button_AssingTables,
.Dashboard_button_TimePerCover{
  background-color: #91A8C0;
}

.Account_button_Settings, 
.Analytics_button_Settings, 
.Notifications_button_Settings, 
.Help_button_Settings, 
.About_button_Settings {
  background-color: #2A3C60;
}

.Back_button_Settings,
.continue_button_ForgotPassword{

  background-color: #E95554;
}
 
/*Back Buttons*/
.Back_button_ForgotPassword,
.Back_button_Settings,
.Back_button_Account,
.Back_button_Analytics,
.Back_button_Notifications,
.Back_button_Help,
.Back_button_About {
  background-color: #E95554;
} 